.blogPage {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.blogHeading {
  font-size: 28px;
  margin-bottom: 30px;
  color: #5d4037fd;
}

.blogGrid {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
