* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  padding-top: 90px;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
